{% extends 'base.html' %}

{% block content %}
<h3>
    <div class="game-data">
        <span>High Score:</span><div id="high-score"></div>
    </div>
    <div class="game-data">
        <span>Times Played:</span><div id="num-plays"></div>
    </div>
    <div class="game-data">
        <span>Score:</span><div id="score-board"></div>
    </div>
        
        
    
    
</h3> 


<div id="timer-container">
    <span>Time Left:<div class="timer"></div></span>
</div>

<br>
<table class="board">
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


<div class="form-container">
    <form id="word-guess-form" action="/word-check" style="display: none;">
        <label for="word-guess">Guess A Word</label>
        <input type="text" name="word-guess" id="word-guess">
        <span><button>Submit</button></span>
    </form>
</div>

<div class="button-container">
    <div class="button-center">
        <button id="start-timer" class="button-startgame">Start Game</button>
    </div>
</div>
<div class="response-container">
    <div id="response" style="display: none";>{{word}}</div>
</div>



{% endblock %}